@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>

<div class="alert alert-danger" role="alert">
    <p>You do not have permission to view this page.</p>
</div>

<a href="~/" class="btn btn-primary">Return to Home Page</a>